@import url("reset.css")

@import "partials/gap"
@import "partials/mixins"

$black: #000
$grey: grey

body
  text-align: center
  margin: 0 auto
  width: 640px
  font-family: 'Ubuntu', sans-serif

header
  +gradient(#fafafa, $grey)
  +bottom-radius(10px)
  +shadow($grey)
  padding: 10px 0
  border-bottom: 1px solid $grey

a
  text-decoration: none

// General
.small-font
  font-size: small

.big-font
  font-size: 30px

.grey
  color: $grey

// mynameis.com
.card
  margin: 0 auto
  text-align: left
