!!! 5
%html
  %head
    %title Urizen
    %meta{:charset => "utf-8"}
    %meta{:content => "urizen", :name => "keywords"}
    %meta{:content => "Home page", :name => "description"}
    %link{:href => "screen.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
  %body
    %header
    = yield
    %footer

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-7563082-8']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
