@import url("reset.css")

body
  text-align: center
  margin: 0 auto
  width: 960px
  font-family: 'Ubuntu', sans-serif

header
  margin-bottom: 20px

footer
  margin-top: 20px
  font-size: small
  color: gray

// General

.large-font
  font-size: large

// Specific
.author
  font-size: medium
