<div class="rounded-social-buttons">
  <a class="social-button email" href="mailto:{{ site.email }}">
    <i class="far fa-envelope"></i>
  </a>

  <a title="GitHub" class="social-button github" href="https://github.com/morgoth">
    <i class="fab fa-github"></i>
  </a>

  <a title="Twitter" class="social-button twitter" href="https://twitter.com/morgoth85">
    <i class="fab fa-twitter"></i>
  </a>

  <a title="LinkedIn" class="social-button linkedin" href="https://www.linkedin.com/in/wojciech-wnetrzak-a8403918a">
    <i class="fab fa-linkedin"></i>
  </a>
</div>
