!!! 5
%html
  %head
    %title Wojciech Wnętrzak Urizen
    %meta{charset: "utf-8"}
    %meta{content: "urizen, ruby, javascript, gilowice, developer, programmer", name: "keywords"}
    %meta{content: "Wojciech Wnętrzak - Ruby & JavaScript development", name: "description"}
    %meta{content: "n9Nayw5hwnOWQ7-F6NGN1zCSuSI", name: "alexaVerifyID"}
    %link{href: "http://fonts.googleapis.com/css?family=Ubuntu", rel: "stylesheet", type: "text/css"}
    %link{href: "/application.css", media: "screen", rel: "stylesheet", type: "text/css"}
    %link{href: "/ancient-light-icon.png", rel: "shortcut icon"}
  %body
    %header
      %img.logo{src: "/ancient-transparent-black.png"}
      %span.slogan Ruby &#38; JavaScript development

    = yield
    %footer.gap.small-font.grey
      &copy; Wojciech Wnętrzak &#45; contact&#64;urizen.pl

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-7563082-8']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
