!!! 5
%html
  %head
    %title Wojciech Wnętrzak Urizen
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %meta{charset: "utf-8"}
    %meta{content: "urizen, ruby, ruby on rails, javascript, gilowice, developer, programmer, ember, single page applications, freelancer", name: "keywords"}
    %meta{content: "Wojciech Wnętrzak - Ruby & JavaScript development", name: "description"}
    %meta{content: "n9Nayw5hwnOWQ7-F6NGN1zCSuSI", name: "alexaVerifyID"}
    %link{href: "http://fonts.googleapis.com/css?family=Ubuntu", rel: "stylesheet", type: "text/css"}
    %link{href: "/bootstrap.min.css", media: "screen", rel: "stylesheet", type: "text/css"}
    %link{href: "/application.css", media: "screen", rel: "stylesheet", type: "text/css"}
    %link{href: "/ancient-light-icon.png", rel: "shortcut icon"}
  %body
    .container
      %header
        %img.logo{src: "/ancient-transparent-gray.png"}
        %span.slogan Ruby &#38; JavaScript development

      .jumbotron
        %h2
          I am proud to be a part of
          %a{href: "http://cowbell-labs.com"} Cowbell Labs
          team

      .panel
        .panel-heading
          %h3 Open Source
        .panel-body
          Besides contributing to existing open source
          %a{href: "http://ghcontributors.herokuapp.com/morgoth"} projects,
          I am author of few libraries that people find useful. All of them are placed on my
          %a{href: "https://github.com/morgoth"} GitHub
          account.
        %ul.list-group
          %li.list-group-item
            .row
              .col-lg-6
                Embedable bridge boards
              .col-lg-6
                %a{href: "http://brist.urizen.pl"} brist

          %li.list-group-item
            .row
              .col-lg-6
                Simple Google Picasa management
              .col-lg-6
                %a{href: "https://github.com/morgoth/picasa"} picasa

          %li.list-group-item
            .row
              .col-lg-6
                Hubot script for sending Trello action feed
              .col-lg-6
                %a{href: "https://github.com/morgoth/hubot-trello_actions"} hubot-trello_actions

          %li.list-group-item
            .row
              .col-lg-6
                Ruby client for Alexa Web Information Service
              .col-lg-6
                %a{href: "https://github.com/morgoth/alexa"} alexa

          %li.list-group-item
            .row
              .col-lg-6
                Chef handler for sending exceptions to Airbrake
              .col-lg-6
                %a{href: "https://github.com/morgoth/airbrake_handler"} airbrake_handler

          %li.list-group-item
            .row
              .col-lg-6
                Ruby client for Centrum Faktur API
              .col-lg-6
                %a{href: "https://github.com/morgoth/centrum_faktur"} centrum_faktur

          %li.list-group-item
            .row
              .col-lg-6
                Ruby client for Moneybookers
              .col-lg-6
                %a{href: "https://github.com/morgoth/moneybookers"} moneybookers

          %li.list-group-item
            .row
              .col-lg-6
                Thor scripts for CD ripping, wma to mp3 conversion and more
              .col-lg-6
                %a{href: "https://github.com/morgoth/ripper"} ripper

      %footer.text-muted
        &copy; 2013 Wojciech Wnętrzak &mdash;
        %a{href: "mailto:contact@urizen.pl"} contact@urizen.pl

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-7563082-8']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
