%h1 Open source

%ul.projects
  %li.row.gap
    .name.column.one-quarter
      %a{href: "https://github.com/morgoth/alexa"} alexa
      .version.small-font.grey
    .description.column.three-quarters
      Ruby client for Alexa Web Information Service

  %li.row.gap
    .name.column.one-quarter
      %a{href: "https://github.com/morgoth/airbrake_handler"} airbrake_handler
      .version.small-font.grey
    .description.column.three-quarters
      Chef handler for sending exceptions to Airbrake

  %li.row.gap
    .name.column.one-quarter
      %a{href: "https://github.com/morgoth/picasa"} picasa
      .version.small-font.grey
    .description.column.three-quarters
      Simple Google Picasa managment

  %li.row.gap
    .name.column.one-quarter
      %a{href: "https://github.com/morgoth/centrum_faktur"} centrum_faktur
      .version.small-font.grey
    .description.column.three-quarters
      Ruby client for Centrum Faktur API

  %li.row.gap
    .name.column.one-quarter
      %a{href: "https://github.com/morgoth/moneybookers"} moneybookers
      .version.small-font.grey
    .description.column.three-quarters
      Ruby client for Moneybookers

  %li.row.gap
    .name.column.one-quarter
      %a{href: "https://github.com/morgoth/ripper"} ripper
      .version.small-font.grey
    .description.column.three-quarters
      Thor scripts for CD ripping, wav to mp3 conversion and more
