%ul.about
  %li.row.gap.half
    .column.one-quarter
      Email
    .column.three-quarters.align-left
      contact&#64;urizen.pl

  %li.row.gap.half
    .column.one-quarter
      GitHub Account
    .column.three-quarters.align-left
      %a{href: "https://github.com/morgoth"} morgoth
